.contact_list {
  direction: rtl;
}
.background {
  background-color: black;
}
.fw-bold {
  color: azure;
  font-family: serif;
}

.text_color {
  color: azure;
  font-family: serif;
}

/* .w-100 {
  height: 40rem !important;
} */
